.edit-page {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.edit-page>* {
    margin: 1rem;
}

button img {
    height: 1rem;
    width: 1rem;
}

.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolbar>* {
    margin: 1rem;
}

/* canvas */

#my-canvas {
    width: 100%;
    box-shadow: 15px 15px 15px 15px silver;
}

/* button */

.toolbar button {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 7px;
    padding: 0.5rem;
}

.toolbar button:hover {
    background-color: lightgray;
}

.toolbar button:focus {
    background-color: lightgray;
}

.btn-group-mem button {
    background-color: rgb(116, 142, 197);
}

.font .impact {
    font-family: Impact;
}

.font .arial {
    font-family: Arial;
}

.font .cambria {
    font-family: Cambria;
}

.font .fantasy {
    font-family: fantasy;
}

.font .cursive {
    font-family: cursive;
}
